einops
hpargparse
hpman
transformers
lmdb
loguru
lxml
matplotlib
notebook
omegaconf
opencv-python
pandas
pathlib
reFILE
sacrebleu
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
smart-open
torchtext
tensorboard
tensorflow
timm
tokenizers
tqdm
vidaug @ git+https://github.com/okankop/vidaug@1c1ddf2640fe4a9171267d64ae5e3bd70c24d54a
wandb